.header{
	text-align: center;
}

.search-box{
	background-color: #eff1f0;
	height: 6em;
	width: 30em;
	margin: 0 auto;
	padding-top: 4em;
}

.menu-container{
	background-color: yellow;
	margin: 0 auto;
	text-align: center;
	width: 300px;
}

table {
	border: 1px solid black;
	margin: 0 auto;

}

tr {
	border: 1px solid black;
	
}

td {
	border: 1px solid black;
	margin: 2em;
	padding: 1em;
}

.color-image {
}

.gray {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}